body {
    font-family: "Arial, sans-serif";
}

h1 {
    background-color: blue;
}

p {
    font-size: 16px;
}

ul {
    margin-left: 20px;
}

.heading-class {
    background-color: red;
}

ul {
    border: 1px solid #000;
    padding: 10px;
}

li {
    color: blue; 
    font-weight: bold;
}

li:hover {
    background-color: #f0f0f0; 
    color: red;
}
